<tr>
  <td>
    {{#if feature_image}}
        <img src="{{feature_image}}" alt="{{excerpt words="33"}}" title="{{title}}">
    {{/if}}
  </td>
  <td><b>{{title}}</b>: {{excerpt words="33"}}</td>
</tr>
