<div class="card is-shadowless">
  {{#if feature_image}}
  <a href="{{url}}">
    <div class="card-image">
      <figure class="image is-marginless crop-container">
        <img src="{{feature_image}}" alt="Image" style="align-self: center;">
      </figure>
    </div>
  </a>
  {{/if}}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <a href="{{url}}">
          <p class="title is-4">{{title}}</p>
        </a>
      </div>
    </div>
    <div class="content">
      <p>{{excerpt words="33"}}</p>
    </div>
  </div>
</div>
